{% extends "AcmeDemoBundle:Secured:layout.html.twig" %}

{% block content %}
    <h1 class="title">Class = {{ class }}</h1>
    <h2 class="title">Interfaces =
    {% for interface in interfaces %}
        <p>{{ interface }}</p>
    {% endfor %}
    </h2>
{% endblock %}

{% set code = code(_self) %}
